* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightblue;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.head {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.head h3 a {
    text-decoration: none;
    color: black;
}

.nav-links li a:link {
    text-decoration: none;

    font-size: 20px;
}

.nav-links li a:visited {
    text-decoration: none;
    color: black;
}

.nav-links ul li a:hover {
    color: darkgray;
}

.nav-links li a:active {
    color: dimgrey;
}


.add_post {
    float: right;
    padding: 10px;
    margin: 10px;
}

.post_list {
    border: 2px solid black;
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    letter-spacing: 2px;
    align-content: center;
}
.post p a {
    text-decoration: none;
}
.post em {
    text-align: right;
    margin-right: 20px;
}
.post {

    margin: 5px;
    align-content: center;
    align-items: center;

    display: flex;
}
.post p {
    padding: 10px;
    margin: 10px;

}

.container {
    background-color: #dedddc ;
    min-height: 860px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
    text-align: center;
}

